__pycache__/
*.pyc
outputs/
data/
.env
*.log


logs/
virtuoso-opensource/bin
virtuoso-opensource/database
virtuoso-opensource/doc
virtuoso-opensource/hosting
virtuoso-opensource/lib
virtuoso-opensource/tmp
virtuoso-opensource/vad
virtuoso-opensource/vsp

eval_results/

slime/models/
slime/saves/
slime/saves_hf/
slime/examples/graphwalker/trajectories/